@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  src: url("assets/fonts/PretendardVariable.woff2") format("woff2");
}

body {
  font-family: "Pretendard", serif;
}

@theme {
  --color-primary-50: oklch(0.969 0.016 293.756);
  --color-primary-100: oklch(0.943 0.029 294.588);
  --color-primary-200: oklch(0.894 0.057 293.283);
  --color-primary-300: oklch(0.811 0.111 293.571);
  --color-primary-400: oklch(0.702 0.183 293.541);
  --color-primary-500: oklch(0.606 0.25 292.717);
  --color-primary-600: oklch(0.541 0.281 293.009);
  --color-primary-700: oklch(0.491 0.27 292.581);
  --color-primary-800: oklch(0.432 0.232 292.759);
  --color-primary-900: oklch(0.38 0.189 293.745);
  --color-primary-950: oklch(0.283 0.141 291.089);

  --color-success: oklch(72.3% 0.219 149.579);

  --color-danger: oklch(63.7% 0.237 25.331);
}

@theme {
  --animate-fade-in-out-toast: fade-in-out-toast 3s ease-out;

  @keyframes fade-in-out-toast {
    0% {
      opacity: 0;
      transform: translateX(10%);
    }
    15% {
      opacity: 1;
      transform: translateY(0);
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@theme {
  --animate-fade-in-blur: fade-in-blur 700ms ease-in-out;

  @keyframes fade-in-blur {
    from {
      opacity: 0;
      filter: blur(4px);
    }
    to {
      opacity: 1;
      filter: blur(0);
    }
  }
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
  }
}

@layer components {
  .dropdown-menu-scroll {
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      margin-top: 2px;
      margin-bottom: 138px;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-neutral-300;

      border: 5px solid transparent;
      border-radius: 999px;
      background-clip: padding-box;
    }
  }
}

@theme {
  --animate-loading-bounce: loading-bounce 1s linear infinite;

  @keyframes loading-bounce {
    0%,
    40% {
      transform: translateY(0%);
    }

    20% {
      transform: translateY(-180%);
    }
  }
}

@layer utilities {
  .animation-delay-50 {
    animation-delay: 50ms;
  }
  .animation-delay-100 {
    animation-delay: 100ms;
  }
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #171717;
}
